<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item detail="true" href="detail-contact">
      <ion-thumbnail slot="start">
        <img alt="Profile picture" src="../../assets/images/profile.png" />
      </ion-thumbnail>
      <ion-label>yassine zerdani</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Profile picture" src="../../assets/images/profile.png" />
      </ion-thumbnail>
      <ion-label>toufik rachad</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Profile picture" src="../../assets/images/profile.png" />
      </ion-thumbnail>
      <ion-label>ahmed zello</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Profile picture" src="../../assets/images/profile.png" />
      </ion-thumbnail>
      <ion-label>ali idri</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
